@model Task

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Model.Title Details</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Details", "Project", new { id = Model.ProjectID })">Project</a>
            </li>
            <li class="active">
                <strong0>Details</strong0>
            </li>
        </ol>
    </div>
    <div class="col-sm-2">
        <div class="title-action">
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row m-b-lg m-t-lg">
        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <h2 class="no-margins">
                            @Model.Title
                        </h2>
                        <br />
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DateAssigned)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DateAssigned)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Deadline)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Deadline)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Status)
                            </dd>


                            <dt>
                                @Html.DisplayNameFor(model => model.Priority)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Priority)
                            </dd>

                        </dl>

                    </div>

                    @*@Html.ActionLinkAuthorized("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                        @Html.ActionLinkAuthorized("Back to List", "Index", new { id = Model.Project.ID }, new { @class = "btn btn-white" })*@

                </div>
            </div>
        </div>
    </div>
</div>